.games-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 24px;
}
.games-container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
    gap: 19px;
}
.games-container .box img {
    width: 300px;
}

.games-container .box span {
font-size: 20px;
font-weight: 700;
line-height: 28px;
text-align: left;
color: var(--white);
}
/* ================ */


.game-container .sec-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.game-container .sec-1 .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 496px;

}
.game-container .sec-1 .text h1 {
font-size: 80px;
font-weight: 700;
line-height: 96px;
text-align: left;
color: var(--white);
text-shadow: 0px 4px 4px  #00000040;
}
.game-container .sec-1 .text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: var(--white);
}
.game-container .sec-2 {
    display: flex;
    flex-direction: column;
}
.game-container .sec-2 h6 {
font-size: 60px;
font-weight: 700;
line-height: 72px;
text-align: left;
color: var(--white);
text-shadow: 0px 4px 4px  #00000040;

}
.game-container .sec-2 p {
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
}
.game-container .sec-3 {
    display: flex;
    flex-direction: column;
    padding: 170px 0;
}
.game-container .sec-3 h5 {
font-size: 60px;
font-weight: 700;
line-height: 72px;
text-align: left;
color: var(--white);
text-shadow: 0px 4px 4px  #00000040;
}
.game-container .sec-3 p {
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
color: var(--white);
}