:root {
    --primary-color:#6A4ED6;
    --secondary-color:#FFCB66;
    --pri-dark : #553FA9;
    --white: #ffff;
}
* {
    font-family: "Sora", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    /* overflow-x: hidden; */
}
.container {
    padding: 30px 120px;

}
.App {
    position: relative;
}
.App .corner {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.up-ret {
    position: absolute;
    z-index: -1;
    top: -10px;


}
.down-ret {
    position: absolute;
    z-index: -2;
    top: -20px;
}

/* =============
edit1: move cube and rest stucky images from home page to  app page!

============= */
